@font-face {
  font-family: plantStyle;
  src: url('../Fonts/Plante.ttf');
}

body {
  font-family: "Goudy Bookletter 1911", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-family: plantStyle, sans-serif;
  font-size: 8vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #4a4a4a;
  font-weight: 1;
  text-shadow: 3px 3px 0 rgb(170, 168, 168);
  /*letter-spacing: 0.4vw;*/
}

@media (min-width: 1200px) {
  .title {
    font-size: 7vw;
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 9vw;
  }
}

.backImage {
  background: url("../Images/5.jpg");
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-position: center;
  background-size: cover;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 4s;
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 0.4}
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 4s;
}

@keyframes fadeOut {
  from {opacity: 0.4} 
  to {opacity: 0}
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 100vw;
  position: relative;
}

.login-form {
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
  background-color: rgba(255, 255, 255, 0.295);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 3vw;
  padding: 2vw;
  width: 80vw;
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.login-form h1 {
  font-weight: 1;
  font-size: 2em;
  color: #4a4a4a;
  backdrop-filter: none;
}

.login-form input {
  width: 200px;
  padding: 8px;
  margin: 5px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  backdrop-filter: none;
}

.login-form button {
  width: 200px;
  padding: 8px;
  margin-top: 20px;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 7px;
	outline: 2px solid #0561EE;
	cursor: pointer;
	transition: outline-offset .25s;
  backdrop-filter: none;
}
.login-form button:hover,
.login-form button:focus{
  background-color: #409cff;
  outline-color: #409cff;
	outline-offset: 3px;
}
.login-form button:is(:hover, :focus){
	outline-offset: 3px;
}


.login-form button:not(:hover):focus {
  outline: none;
  transition: outline 0.3s;
  outline-offset: 0;
}

.password-input {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.password-input input {
  width: 200px;
  padding: 8px;
  margin: 5px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.fa-eye{
  margin-left: -30px;
  cursor: pointer;
  color: lightgray;
}
