/* Fonts */
@font-face {
  font-family: plantStyle;
  src: url("../Fonts/Plante.ttf");
}

/* Reset styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Typography */
h2,
h3,
a {
  color: #34495e;
}

a {
  color: #4a4a4a;
  text-decoration: none;
}

/* Logo */
.logo {
  font-family: plantStyle, sans-serif;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 2em;
}

.logo img {
  margin-right: 10px;
}

.logo a {
  font-size: 1.1em;
}

/* Navigation */
.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.main-nav li {
  margin: 0 10px;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: 0.99em;
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  position: relative;
}

.main-nav a:hover {
  color: #718daa;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 0.1em;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: auto;
}

/* Not Mobile */
@media (min-width: 769px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
    width: auto;
  }

  .main-nav li {
    display: contents;
    margin: 0 10px;
  }

  .hamburger {
    display: none;
  }
}

/* Hamburger icon */
.hamburger {
  display: none;
  position: absolute;
  top: 14px;
  right: 20px;
  cursor: pointer;
  font-size: 1.6em;
  color: #34495e;
  transition: transform 0.4s ease;
}

.hamburger.active .line-1 {
  transform: translateY(7px) rotate(45deg);
}

.hamburger.active .line-2 {
  opacity: 0;
}

.hamburger.active .line-3 {
  transform: translateY(-7px) rotate(-45deg);
}

.line-1, .line-2, .line-3 {
  width: 30px;
  height: 3px;
  background-color: #34495e;
  margin: 5px 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.line-1 {
  transform-origin: center center;
  transform: rotate(0);
}

.line-2 {
  transform-origin: center center;
  transform: rotate(0);
}

.line-3 {
  transform-origin: center center;
  transform: rotate(0);
}

/* For Mobile */
@media (max-width: 768px) {
  
  /* Hide navigation links */
  .main-nav {
    display: none !important;
  }

  .main-nav li {
    margin: 0 10px;
    opacity: 0; 
    transition: all 0.4s ease-in-out; 
  }
  /* Show hamburger icon */
  .hamburger {
    display: block;
  }

  /* Show navigation links when hamburger is clicked */
  .show-nav {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 90%;
    padding: 10px 0;
    text-align: center;
    z-index: 1;
    width: 7em;
    border: 1px solid #a2a2a2;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}

/* Navigation links */

.main-nav a::before,
.main-nav a::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  bottom: 0;
  background-color: #718daa;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.6s ease-in-out;
}

.main-nav a::before {
  left: 0;
  transform-origin: left;
}

.main-nav a::after {
  right: 0;
  transform-origin: right;
}

.main-nav a:hover::before,
.main-nav a:hover::after,
.main-nav a.active::before,
.main-nav a.active::after {
  visibility: visible;
  transform: scaleX(1);
}

.main-nav a.active:hover::before,
.main-nav a.active:hover::after {
  transform: scaleX(0);
}

.main-nav:hover a.active::before,
.main-nav:hover a.active::after {
  transform: scaleX(0);
  visibility: hidden;
}

.main-nav a.active {
  color: #718daa;
}

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap");
